.newpost {
    position: relative;
    padding: 0;
    margin: 0;
}

.newpost__header {
    display: flex;
    align-items: center;

    text-transform: uppercase;
}

.link__back {
    width: 40px;
    height: 30px;
    background-image: url('../../assets/left-arrow-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left: -50px;
    transition: all .2s;
}

.link__back:hover {
    transform: scale(1.1);
}

.newpost__form {
    display: flex;
    flex-direction: column;
}

textarea[name=newpost] {
    resize: none;
    padding: 10px;
    margin-bottom: 1rem;
}

.newpost__title {
    margin: 0 auto;
}

.newpost__submitBtn {
    background-color: teal;
    color: aliceblue;
}

.newpost__submitBtn:hover {
    background-color: rgb(2, 188, 188);
}



